body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background: #d793f2;
    color: #333;
  }
  
  header {
    background: #73b3f4;
    color: rgb(1, 1, 1);
    text-align: center;
    padding: 2em;
  }
  
  main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: #edf;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  article {
    margin-bottom: 2em;
  }
  
  footer {
    text-align: center;
    padding: 1em;
    font-size: 0.9em;
    background: #edf;
  }
  